# c[e4]?.ppy.sh is used for bancho
# osu.ppy.sh is used for /web, /api, etc.
# a.ppy.sh is used for osu! avatars

upstream bancho {
    server 127.0.0.1:${APP_PORT};
}

limit_req_zone $binary_remote_addr zone=bancho_registrations:10m rate=1r/m;
limit_req_zone $binary_remote_addr zone=bancho_logins:10m rate=10r/m;
limit_req_zone $binary_remote_addr zone=bancho_avatar_uploads:10m rate=10r/m;

# HTTP Redirect for Web Frontend
server {
	listen 80;
	server_name ${DOMAIN};
	return 301 https://$host$request_uri;
}

# 1. Web Frontend Server Block (osu.xn--o39a013c.tv)
server {
	listen 443 ssl;
	server_name ${DOMAIN};
	client_max_body_size 20M;

	ssl_certificate     ${SSL_CERT_PATH};
	ssl_certificate_key ${SSL_KEY_PATH};
	ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH:@SECLEVEL=1";

	# Serve static files for the frontend
	location / {
		root /home/ubuntu/osu/bancho-web.ts/dist;
		try_files $uri /index.html;
	}

	# Proxy game client web endpoints
	location /web/ {
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header Host $http_host;
		add_header Access-Control-Allow-Origin *;
		proxy_redirect off;
		proxy_pass http://bancho;
	}

	# Proxy beatmap downloads
	location /d/ {
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header Host $http_host;
		add_header Access-Control-Allow-Origin *;
		proxy_redirect off;
		proxy_pass http://bancho;
	}

	# Proxy API requests to backend with Host rewritten to api.${DOMAIN}
	location = /api/v2/accounts {
		limit_req zone=bancho_registrations burst=3 nodelay;
		limit_req_status 429;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header Host api.${DOMAIN};
		add_header Access-Control-Allow-Origin *;
		rewrite ^/api/(.*)$ /$1 break;
		proxy_redirect off;
		proxy_pass http://bancho;
	}

	location = /api/v2/sessions {
		limit_req zone=bancho_logins burst=5 nodelay;
		limit_req_status 429;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header Host api.${DOMAIN};
		add_header Access-Control-Allow-Origin *;
		rewrite ^/api/(.*)$ /$1 break;
		proxy_redirect off;
		proxy_pass http://bancho;
	}

	location ~ ^/api/v2/players/\d+/avatar$ {
		limit_req zone=bancho_avatar_uploads burst=5 nodelay;
		limit_req_status 429;
		client_max_body_size 4m;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header Host api.${DOMAIN};
		add_header Access-Control-Allow-Origin *;
		rewrite ^/api/(.*)$ /$1 break;
		proxy_redirect off;
		proxy_pass http://bancho;
	}

	location /api/ {
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header Host api.${DOMAIN};
		add_header Access-Control-Allow-Origin *;
		rewrite ^/api/(.*)$ /$1 break;
		proxy_redirect off;
		proxy_pass http://bancho;
	}
}

# 2. Game Client and Direct APIs Server Block (c.DOMAIN, ce.DOMAIN, api.DOMAIN, osu.DOMAIN, etc.)
server {
	# Listen on both port 80 and 443 to support HTTP fallback connection from game client
	listen 80;
	listen 443 ssl;
	server_name c.${DOMAIN} ce.${DOMAIN} c4.${DOMAIN} osu.${DOMAIN} b.${DOMAIN} api.${DOMAIN};
	client_max_body_size 20M;

	ssl_certificate     ${SSL_CERT_PATH};
	ssl_certificate_key ${SSL_KEY_PATH};
	ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH:@SECLEVEL=1";

	# Direct API registration from client
	location = /v2/accounts {
		limit_req zone=bancho_registrations burst=3 nodelay;
		limit_req_status 429;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header Host $http_host;
		add_header Access-Control-Allow-Origin *;
		proxy_redirect off;
		proxy_pass http://bancho;
	}

	# Direct API login from client
	location = /v2/sessions {
		limit_req zone=bancho_logins burst=5 nodelay;
		limit_req_status 429;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header Host $http_host;
		add_header Access-Control-Allow-Origin *;
		proxy_redirect off;
		proxy_pass http://bancho;
	}

	# Direct API avatar upload from client
	location ~ ^/v2/players/\d+/avatar$ {
		limit_req zone=bancho_avatar_uploads burst=5 nodelay;
		limit_req_status 429;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header Host $http_host;
		add_header Access-Control-Allow-Origin *;
		proxy_redirect off;
		proxy_pass http://bancho;
	}

	# Fallback: Proxy everything to the backend (crucial for POST / login request!)
	location / {
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header Host $http_host;
		add_header Access-Control-Allow-Origin *;
		proxy_redirect off;
		proxy_pass http://bancho;
	}
}

# 3. Assets Server Block
server {
	listen 443 ssl;
	server_name assets.${DOMAIN};

	ssl_certificate     ${SSL_CERT_PATH};
	ssl_certificate_key ${SSL_KEY_PATH};
	ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH:@SECLEVEL=1";

	location / {
		default_type image/png;
		root ${DATA_DIRECTORY}/assets;
	}
}

# 4. Avatars Server Block
server {
	listen 443 ssl;
	server_name a.${DOMAIN};

	ssl_certificate     ${SSL_CERT_PATH};
	ssl_certificate_key ${SSL_KEY_PATH};
	ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH:@SECLEVEL=1";

	location / {
		root ${DATA_DIRECTORY}/avatars;
		try_files $uri $uri.png $uri.jpg $uri.gif $uri.jpeg $uri.jfif /default.jpg = 404;
	}
}
